
<table>
  <tr>
    <td>ID</td><td><input type="text" [(ngModel)]="productoActual.id"></td>
  </tr>
  <tr>
    <td>Precio</td><td><input type="text" [(ngModel)]="productoActual.precio"></td>
  </tr>
  <tr>
    <td>Código</td><td><input type="text" [(ngModel)]="productoActual.codigo"></td>
  </tr>
  <tr>
    <td>Cantidad</td><td><input type="text" [(ngModel)]="productoActual.cantidad"></td>
  </tr>
  <tr>
    <td>Nombre</td><td><input type="text" [(ngModel)]="productoActual.nombre"></td>
  </tr>
  <tr>
    <td>Descripción</td><td><input type="text" [(ngModel)]="productoActual.descripcion"></td>
  </tr>
  <tr>
    <td>Activo</td><td><input type="checkbox" [(ngModel)]="productoActual.productoActivo"></td>
  </tr>
  <tr>
    <td><button (click)="registrarProducto()">Aceptar</button></td><td></td>
  </tr>
</table>


<table border="1">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>codigo</th>
    <th>Activo</th>
    <th colspan="2">Acciones</th>
  </tr>
  <tr *ngFor="let producto of productos; let i=index">
    <td>{{producto.id}}</td>
    <td>{{producto.nombre}}</td>
    <td>{{producto.descripcion}}</td>
    <td>{{producto.precio}}</td>
    <td>{{producto.cantidad}}</td>
    <td>{{producto.codigo}}</td>
    <td>{{producto.productoActivo}}</td>
    <td><button (click)="modificarProducto(producto)">Modificar</button></td>
    <td><button (click)="eliminarProducto(i)">Eliminar</button></td>
  </tr>
  <tr *ngIf="productos.length<=0">
    <td style="text-align: center;" colspan="9">No hay productos en el inventario</td>
  </tr>
</table>



<!--DIRECTIVAS  ESTRUCTURALES -->
<!--
<p>{{title}}</p>
<p><input [(ngModel)]="title"></p>
<br/>
<button (click)="eventoBoton()">Aceptar</button>
<br/>

<p *ngIf="productoActivo">Esta es la descripcion del producto</p>


<ul>
  <li *ngFor="let producto of productos; let i=index">
    {{i}} {{producto}}
  </li>
</ul>
-->




<!-- TEMPLATES -->

<!--
Texto:
<p>{{title}}</p>
<br/>
Numero:
<p>{{precio1}}</p>
<br/>
Suma:
<p>{{precio1+precio2}}</p>
<br/>

Lista:
<p>{{productos}}</p>
<br/>

Boolean:
<p>{{productoActivo}}</p>
<br/>


Funcion:
<p>{{sumarProductos()}}</p>
<br/>


<div>
  Descripcion del producto
</div>

-->
