
<p>{{producto.title}}</p>
<p><input [(ngModel)]="producto.title"></p>
<br/>
<button (click)="eventoBoton()">Aceptar</button>
<br/>

<p *ngIf="productoActivo">{{producto.descripcion}}</p>


<ul>
  <li *ngFor="let producto of productos; let i=index">
    {{i}} {{producto}}
  </li>
</ul>



<!--DIRECTIVAS  ESTRUCTURALES -->
<!--
<p>{{title}}</p>
<p><input [(ngModel)]="title"></p>
<br/>
<button (click)="eventoBoton()">Aceptar</button>
<br/>

<p *ngIf="productoActivo">Esta es la descripcion del producto</p>


<ul>
  <li *ngFor="let producto of productos; let i=index">
    {{i}} {{producto}}
  </li>
</ul>
-->




<!-- TEMPLATES -->

<!--
Texto:
<p>{{title}}</p>
<br/>
Numero:
<p>{{precio1}}</p>
<br/>
Suma:
<p>{{precio1+precio2}}</p>
<br/>

Lista:
<p>{{productos}}</p>
<br/>

Boolean:
<p>{{productoActivo}}</p>
<br/>


Funcion:
<p>{{sumarProductos()}}</p>
<br/>


<div>
  Descripcion del producto
</div>

-->
